<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Paul Debevec - Software Engineer</title>
    <link rel="stylesheet" href="/stylesheets/projects.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="https://pauldebevec.herokuapp.com/#home">Home</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#about">About</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#projects">Projects</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#contact">Contact</a></li>
        </ul>
      </nav>
    <section id="projects">
      <div class="section group" style="padding-bottom: 20vh">
        <div style="padding-bottom: 8vh">
          <h2>Demo Coming Soon!</h2>
        </div>
    </section>
    </div>
      <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  </body>
</html>
