<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Paul Debevec - Software Engineer</title>
    <link rel="stylesheet" href="/stylesheets/projects.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="https://pauldebevec.herokuapp.com/#home">Home</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#about">About</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#projects">Projects</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#contact">Contact</a></li>
        </ul>
      </nav>
    <section id="projects">
      <div class="section group" style="padding-bottom: 20vh">
        <div style="padding-bottom: 5vh">
          <a href="https://lit-forest-97467.herokuapp.com"><h1>Jam Session</h1></a><h5>(Click name to view production site)</h5>
        </div>

          <h2>Description</h2>
          <p style="padding-bottom: 15vh;">Jam Session is built in Ruby on Rails, and utilizes a RESTful sinatra microservice which does the heavy lifting by reaching out to the API's.</p>

          <h2>Tech Stack</h2>
          <table class="center">
            <tr>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>Ruby</td>
              <td>RSpec</td>
            </tr>
            <tr>
              <td>Rails</td>
              <td>Capybara</td>
            </tr>
            <tr>
              <td>Sinatra</td>
              <td>Pry(debugger)</td>
            </tr>
            <tr>
              <td>Spotify OAuth</td>
              <td></td>
            </tr>
          </table>
          <div style="padding-top: 10vh;">
            <a href="https://github.com/Maxwell-Baird/Jam_Session">View Github Repository</a>
          </div>

        <div style="padding-top: 10vh;">
          <h2>Study Session Page</h2>
          <img src="https://alumni.turing.io/sites/default/files/styles/project_screenshot/public/project_screenshots/Screen%20Shot%202020-08-19%20at%2010.11.50%20AM.png?itok=lnxvZwBt" alt="solarizer app photo">
          <h2>Miro MVP</h2>
          <img src="../images/jam-session/jam-session-mvp.png" alt="">
          <h2>Miro Wireframe</h2>
          <img src="../images/jam-session/jam-session-wireframe.png" alt="">
          <h2>GitHub Project Board</h2>
          <img src="../images/jam-session/jam-session-project-board.png" alt="">
        </div>
      </div>
    </section>
    </div>
      <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  </body>
</html>
