<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Paul Debevec - Software Engineer</title>
    <link rel="stylesheet" href="/stylesheets/projects.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="https://pauldebevec.herokuapp.com/#home">Home</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#about">About</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#projects">Projects</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#contact">Contact</a></li>
        </ul>
      </nav>
    <section id="projects">
      <div class="section group" style="padding-bottom: 20vh">
        <div style="padding-bottom: 8vh">
          <a href="http://solarizer.herokuapp.com/">Solarizer</a><h5>(Click name to view production site)</h5>
        </div>

          <h2>Description</h2>
          <p style="padding-bottom: 8vh;">Group project with 2 weeks to design concept, build project board, write tests, and produce a complete functioning project. I assisted in building the back-end in Python, as well as a Rails microservice.</p>

          <h2>Tech Stack</h2>
          <table class="center">
            <tr>
              <th>Front End</th>
              <th>Back End</th>
            </tr>
            <tr>
              <td>Node.js</td>
              <td>Python 3.7</td>
            </tr>
            <tr>
              <td>React</td>
              <td>Flask 1.1.1</td>
            </tr>
            <tr>
              <td>Redux</td>
              <td>Unittest</td>
            </tr>
          </table>
          <div id="github" style="padding-top: 10vh;">
            <a href="https://github.com/PaulDebevec/solarizer"><h4>View Github Repository</h4></a>
          </div>

        <div style="padding-top: 10vh;">
          <h2>Solarizer graph data</h2>
          <img src="https://alumni.turing.io/sites/default/files/styles/project_screenshot/public/project_screenshots/Screen%20Shot%202020-08-19%20at%209.53.26%20AM.png?itok=atUVAjEW" alt="solarizer app photo">
          <h2>GitHub Project Board</h2>
          <img src="../images/solarizer/git-project-board.png" alt="project board">
          <h2>Miro MVP</h2>
          <img src="../images/solarizer/mvp.png" alt="project board">
          <h2>Miro Wireframe Overview</h2>
          <img src="../images/solarizer/wire-frame-overview.png" alt="project board">
          <h2>Miro Wireframe Detail</h2>
          <img src="../images/solarizer/wire-frame-detail.png" alt="project board">
        </div>
      </div>
    </section>
    </div>
      <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  </body>
</html>
