* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #e8e8e8;
  line-height: 1.6;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 5 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #e8e8e8;
}

.navbar ul li a:hover {
  color: skyblue;
}

section p {
  font-size: 1.5rem;
}

/* Section images */
section#home {
  background: rgba(0, 0, 0, .3) url('../images/landing-page/home.jpg') no-repeat center center/
  cover;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 120vh;
  height: auto;
}

section#home p {
  padding-top: 8vh;
  padding-right: 5vw;
  padding-left: 5vw;
  max-width: 736px;
  width: auto;
  height: auto;
}

section#home img {
  min-width: 330px;
  border-radius: 50%;
  width: 15vw;
  padding-left: 3vw;
  padding-right: 3vw;
  overflow-x: hidden;
}

@media only screen and (max-width: 1920px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: calc(20px + 3vw);
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: calc(20px + 5vw);
  }

  h2 {
    font-size: calc(10px + 3vw);
  }
}

section#about {
  background: rgba(0, 0, 0, .6) url('../images/landing-page/keyboard.jpg') no-repeat center center/
  cover;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 25vh;
}

section#about p {
  width: auto;
  padding-right: 5vw;
  padding-left: 5vw;
  max-width: 736px;
  height: auto;
}

section#about h1 {
  padding-top: 70px;
}

section#projects {
  background: rgba(0, 0, 0, .6) url('../images/landing-page/eclipse.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

section#projects h1 {
  padding-top: 70px;
}

section#projects h2 {
  align-items: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 2vh;
}

section#projects img {
  min-width: 330px;
  width: 90%;
  padding-left: 3vw;
  padding-right: 3vw;
  overflow-x: hidden;
}

section#projects p {
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
}

section#projects a {
  text-decoration: underline;
  color: #e8e8e8;
}

section#projects a:hover {
  color: skyblue;
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: calc(10px + 3vw);
  }
}

section#contact {
  background: rgba(0, 0, 0, .3) url('../images/landing-page/earth.jpg') no-repeat center center/
  cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 5vh;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 2% 2% 0% 2%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 45vw;
}
.span_1_of_2 {
	width: 45vw;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 880px) {
	.col {
		margin: 2% 4% 0% 0%;
	}
}

@media only screen and (max-width: 880px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
