<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Paul Debevec - Software Engineer</title>
    <link rel="stylesheet" href="/stylesheets/projects.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="https://pauldebevec.herokuapp.com/#home">Home</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#about">About</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#projects">Projects</a></li>
          <li><a href="https://pauldebevec.herokuapp.com/#contact">Contact</a></li>
        </ul>
      </nav>
    <section id="projects">
      <div class="section group" style="padding-bottom: 20vh">
        <div style="padding-bottom: 8vh">
          <a href="https://gardenthat.herokuapp.com">Garden That</a><h5>(Click name to view production site)</h5>
        </div>

          <h2>Description</h2>
          <p style="padding-bottom: 8vh;">GardenThat utilizes a plant API microservice to allow users to add plants to their virtual garden. We integrated the Google Calendar API to add watering and harvest reminders for your virtual garden.</p>

          <h2>Tech Stack</h2>
          <table class="center">
            <tr>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>Ruby</td>
              <td>RSpec</td>
            </tr>
            <tr>
              <td>Rails</td>
              <td>Capybara</td>
            </tr>
            <tr>
              <td>Sinatra</td>
              <td>Pry(debugger)</td>
            </tr>
            <tr>
              <td>Google OAuth</td>
              <td>TravisCI</td>
            </tr>
            <tr>
              <td>Google Calendar API</td>
              <td>Google OAuth</td>
            </tr>
          </table>
          <div style="padding-top: 10vh;">
            <a href="https://github.com/adumortier/gardenthat"><h4>View Github Repository</h4></a>
          </div>

        <div style="padding-top: 10vh;">
          <h2>GardenThat Landing Page</h2>
          <img src="https://alumni.turing.io/sites/default/files/styles/project_screenshot/public/project_screenshots/Screen%20Shot%202020-08-19%20at%2010.02.51%20AM.png?itok=P1G8Cyfz" alt="solarizer app photo">
        </div>
      </div>
    </section>
    </div>
      <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  </body>
</html>
