<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Paul Debevec - Software Engineer</title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="#home">Home</a></li> 
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <section id="home">
        <h1>Paul Debevec - Software Engineer</h1>
        <p> *** Some cool quote here*** </p>
      </section>
      <section id="about">
        <h1>About</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </section>
      <section id="projects">
        <h1>Project Experience</h1>
        <p> Load each project I want displayed - Link to project show page </p>
      </section>
      <section id="contact">
        <h1>Contact Me</h1>
        <p> contact info - LinkedIn - GitHub - Etc...</p>
      </section>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/stylesheets/main.js"></script>
  </body>
</html>
